body{
	
}

a:link{
	text-decoration : none;	
	font-weight : bold;
	font-style : oblique;
}

a:hover{
	text-decoration : underline ;	
	font-weight : bold;
	font-style : oblique;
}

a:active{
	text-decoration : none;	
	font-weight : bold;
	font-style : oblique;
}

a:visited{
	text-decoration : none;	
	font-weight : bold;
	font-style : oblique;
}

